header 
  div.content-img-header
    img(src="../img/rd-gold.png" alt="")
    div.container-name
      p bienvenido
      p.name-count
    img(src="../img/riszart-logo-white.webp", alt="")
  div.content-tittle-header
    p por favor seleccione su transferencia