main 
  section.main-left
    ul 
      li.recharge: span recarga
      li.pay: span pago
      li.transactions: span transacciones
      li.other: span otros
  section.main-center
    img(src="img/logo.png", alt="")
    div.main-center__down
      p contacta al banco
      div.main-center__down-call
        div.main-content-icons
          img(src="", alt="")
          img(src="", alt="")
          img(src="", alt="")
          img(src="", alt="")
          p visitanos en nuestras redes sociales
        p (01) 123-4567
        p www.riszart.com
  section.main-right
    ul
      li.widthdraw: span retiro
      li: span consultas
      li.transfer: span transferencia
      li.deposit: span depositos