div.recharge-container
  div.recharge-content
    h2 recharge
    div.recharge-content__data
      p nombre del propietario: 
        span.name-ower
    div.recharge-content__detail 
      p monto
      p.total-amount
      p total
    div.recharge-input-send
      input.input__recharge(type="number")
      div.botton-send__recharge bottomsend
