div.transactions-container
  div.transactions-content
    h2 transacciones 
    div.transactions-content__data
      p nombre del propietario:
        span.name-ower.name-count
    div.transactions-content__detail 
      p saldo disponible de la cuenta de origen:
      p $
        span.money-count 
    div.transactions-count 
      div.transactions-count__one
        label(for="") cuenta: 123 4567890123
        input.transactions-count__one-input(type="checkbox" name="count")
      div.transactions-count__two
        label(for="") cuenta: 987 6543210987
        input.transactions-count__two-input(type="checkbox" name="count")
    div.transactions__detail
    div.transactions-input-send
      div 
        label(for="input-transactions") monto de la transacción:
        input.input__transactions(type="number" name="input-transactions")
      div.botton-content__transactions 
        div.botton-cancel__transactions
          p cancelar
        div.botton-send__transactions
          p mover