div.transfer-container
  div.transfer-content
    h2 tranferencia
    div.transfer-content__data
      p propietario de la cuenta de origen:
        span.name-ower.name-count
    div.transfer-content__detail 
      p saldo disponible:
      p $
        span.money-count
    div.transfer-count 
      div.transfer-count__one
        label(for="") cuenta:
          span.transfer-number-count__one
        input.transfer-count__one-input(type="checkbox" name="count")
      div.transfer-count__two
        label(for="") cuenta:
          span.transfer-number-count__two
        input.transfer-count__two-input(type="checkbox" name="count")
    div.transfer__detail
    div.transfer-input-send
      div 
        label(for="input-transfer-count") Numero de cuenta del destinatario:
        input.input__transfer-count(type="number" name="input-transfer" maxlength="13")
        label(for="input-transfer") introduce el monto que deseas tranferir:
        input.input__transfer(type="number" name="input-transfer")
      div.botton-content__transfer 
        div.botton-cancel__transfer
          p cancelar
        div.botton-send__transfer
          p tranferir