.transactions-container {
  @include class-container;
  .transactions-content {
    h2{
      width: 665px;
    }
    @include class-content;
    .transactions-content__data {
      @include class-content__data;
    }
    .transactions-content__detail {
      @include class-content__detail;
    }
    .transactions-count  {
      @include style-counts;
    }
    .transactions__detail{
      height: 380px;
      @include class__detail;
    }
    .transactions-input-send {
      @include class-input-send;
    }
    .botton-content__transactions {
      align-self: flex-end;
      margin-bottom: 15px;
      @include boton-content__class;
    }
    .botton-send__transactions {
      @include boton-style;
    }
    .botton-cancel__transactions {
      @include boton-style;
    }
  }
}
.failure-container{
  @include fail-count;
}