$color-main: darkorange;

@mixin center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin left-right{
  height: 100px;
  width: 250px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  background-color: $color-main;
  &::before {
    content: "";
    position: absolute;
    border-right: 50px solid $color-main;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
  }
  &:hover{
    transform: scale(1.05);
    opacity: 0.8;
    span {
      color: black;
    }
  }
}
@mixin style-span{
  @include font-size(26px);
  text-transform: uppercase;
  font-weight: 900;
}
@mixin font-size($size) {
	font-size: $size;
	font-size: calculateRem($size);
	line-height: calculateRem($size)*1.5;
}

@function calculateRem($size){
	$remSize: $size / 16px;
	@return $remSize * 1rem;
}
@mixin back-img($url){
  background-image: url($url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


@mixin fail-count{
  width: 100%;
  position: relative;
  top: 200px;
  p {
    background-color: #000000b9;
    padding: 15px;
    text-align: center;
    text-transform: capitalize;
    @include center;
    @include font-size(35px)
  }  
}
@mixin class-container{
  display: none;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
@mixin class-content {
  width: 1124px;
  height: 768px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include back-img('../img/redes.jpg');
  h2 {
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 5px 0;
    color: $color-main;
    font-weight: 900;
    @include font-size(32px)
  }
}

@mixin style-counts{
  display: flex;
  justify-content: space-evenly;
  &__one, &__two {
    height: auto;
    width: auto;
    margin-top: 10px;
    padding: 5px 15px;
    background-color: $color-main;
    border-radius: 5px;
    cursor: pointer;
  }
  label {
    text-transform: capitalize;
    cursor: pointer;
    @include font-size(24px)
  }
  input {
    visibility: hidden;
  }
}
@mixin class__detail{
  width: 85%;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 10px;
  border: solid 1px $color-main;
  background-color: #0f0f0fb9;
}
@mixin class-content__data{
  margin-left: 25px;
  display: flex;
  justify-content: space-between;
  p {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: $color-main;
    text-transform: capitalize;
  }
  span {
    margin-right: 25px;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    @include font-size(32px);
  }
}
@mixin class-content__detail{
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
  text-transform: capitalize;
  p:nth-child(1) {
    color: $color-main;
    @include font-size(18px)
  }
  p:nth-child(2) {
    margin-right: 25px;
    font-weight: 900;
    letter-spacing: 5px;
    color: white;
    @include font-size(18px)
  }
}
@mixin class-input-send{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 15px;
  position: absolute;
  bottom: 20px;
  text-transform: capitalize;
  div {
    label {
      margin-bottom: 10px;
      display: block;
      color: $color-main;
      @include font-size(18px)
    }
    input {
      width: 300px;
      height: 40px;
      color: $color-main;
      background-color: black;
      border: solid 1px $color-main;
      @include font-size(18px);
    }
  }
}
@mixin boton-content__class{
  border-radius: 5px;
  margin-right: 35px;
  display: flex;
}
@mixin boton-send__class{

}
@mixin boton-style {
  width: 200px;
  height: 80px;
  background-color: $color-main;
  text-align: center;
  border-radius: 5px;
  margin-right: 35px;
  cursor: pointer;
  @include font-size(35px);
  p {
    color: black;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 15px;
  }
  &:hover {
    opacity: 0.5;
  }
}
* {
  user-select: none;
  padding: 0;
  margin: 0;
  color: rgb(186, 201, 218);
}
body {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: grid;
  place-content: center;
  font-family: 'Genos', sans-serif;
  font-family: 'Play', sans-serif;
  font-family: 'Space Mono', monospace;
  .principal {
    width: 1124px;
    height: 768px;
    position: relative;
    background-image: url(https://cdn.wallpapersafari.com/41/30/qiZPWy.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
}
input {
  border-radius: 5px;
  font-weight: 400;
  padding-left: 10px;
  letter-spacing: 3px;
}
li {
  list-style: none;
}


@keyframes rotateCir {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes changeSize{
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
