.transfer-container {
  @include class-container;
  .transfer-content {
    h2{
      width: 293px;
    }
    @include class-content;
    .transfer-content__data {
      @include class-content__data;
    }
    .transfer-content__detail {
      @include class-content__detail;
    }
    .transfer-count  {
      @include style-counts;
    }
    .transfer__detail{
      height: 380px;
      @include class__detail;
    }
    .transfer-input-send {
      @include class-input-send;
    }
    .botton-content__transfer {
      align-self: flex-end;
      margin-bottom: 15px;
      @include boton-content__class;
    }
    .botton-send__transfer {
      @include boton-style;
    }
    .botton-cancel__transfer {
      @include boton-style;
    }
  }
}
.failure-container{
  @include fail-count; 
}