
<main> 
  <section class="main-left">
    <ul> 
      <li class="recharge"><span>recarga</span></li>
      <li class="pay"><span>pago</span></li>
      <li class="transactions"><span>trassacciones</span></li>
      <li class="other"><span>otros</span></li>
    </ul>
  </section>
  <section class="main-center"><img src="/img/logo.png" alt=""/>
    <div class="main-center__down">
      <p>contacta al banco</p>
      <div class="main-center__down-call">
        <div class="main-content-icons"><img src="" alt=""/><img src="" alt=""/><img src="" alt=""/><img src="" alt=""/>
          <p>visitanos en nuestras redes sociales</p>
        </div>
        <p>(01) 123-4567</p>
        <p>www.riszart.com</p>
      </div>
    </div>
  </section>
  <section class="main-right">
    <ul>
      <li class="widthdraw"><span>retiro</span></li>
      <li><span>consultas</span></li>
      <li class="transfer"><span>transferencia</span></li>
      <li class="deposit"><span>depositos</span></li>
    </ul>
  </section>
</main>