
<div class="recharge-container">
  <div class="recharge-content">
    <h2>recharge</h2>
    <div class="recharge-content__data">
      <p>nombre del propietario: <span class="name-ower"></span></p>
    </div>
    <div class="recharge-content__detail"> 
      <p>monto</p>
      <p class="total-amount"></p>
      <p>total</p>
    </div>
    <div class="recharge-input-send">
      <input class="input__recharge" type="number"/>
      <div class="botton-send__recharge">bottomsend</div>
    </div>
  </div>
</div>