
<div class="tranfer-container">
  <div class="tranfer-content">
    <h2>retiro</h2>
    <div class="tranfer-content__data">
      <p>nombre del propietario:<span class="name-ower name-count"></span></p>
    </div>
    <div class="tranfer-content__detail"> 
      <p>saldo disponible:</p>
      <p>$<span class="money-count"> </span></p>
    </div>
    <div class="widthdraw__detail"></div>
    <div class="tranfer-input-send">
      <div> 
        <label for="input-tranfer">introduce el monto que deseas retirar:</label>
        <input class="input__tranfer" type="number" name="input-tranfer"/>
      </div>
      <div class="botton-send__tranfer"> 
        <p>retirar</p>
      </div>
    </div>
  </div>
</div>