
<div class="withdraw-container">
  <div class="withdraw-content">
    <h2>retiro</h2>
    <div class="withdraw-content__data">
      <p>nombre del propietario:<span class="name-ower">riszart</span></p>
    </div>
    <div class="withdraw-content__detail"> 
      <p>saldo disponible:</p>
      <p>$1000</p>
    </div>
    <div class="withdraw-input-send">
      <label for="input-withdraw">introduce el monto que deseas retirar:</label>
      <input class="input__withdraw" type="number" name="input-withdraw"/>
    </div>
    <div class="botton-send__withdraw bottom">retirar</div>
  </div>
</div>