doctype html
html(lang="en")
  include components/head.pug
  body
    div.principal
      include components/header.pug
      include components/main.pug
    include components/widthdraw.pug
    include components/deposit.pug
    include components/transfer.pug
    include components/transactions.pug
  script(src="/js/script-principal.js") 
